thead {
    font-weight: bold;
}

.dl-lang-files a {
    margin-bottom: 3px;
}

.btn-file[type=file] {
    display: initial;
}

.btn-default {
    padding: 6px 12px;
    border: 1px solid #999999 !important;
}

#updateUserModalLabel {
    display: inline;
}

#delete-user-form {
    display: inline;
    float: right;
    margin-top: 10px;
}

.modal {
    background-color: rgba(0,0,0,0.6);
}

.modal-body {
    margin-bottom: 20px;
}