#show_wowbook {
	display: block;
    margin: 20 auto;
}

.wowbook-lightbox > .wowbook-close{
	height: 2.3em;
	width: 2.3em;
}

.wowbook-pdf .linkAnnotation > a:hover {
	opacity : 0;
}

.text-intro {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.author_cv {
    z-index: 10;
    overflow: auto;
    position: relative;
    margin-bottom: 60px;
}