#show_wowbook {
	display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.wowbook-lightbox > .wowbook-close{
	height: 2.3em;
	width: 2.3em;
}

.wowbook-pdf .linkAnnotation > a:hover {
	opacity : 0;
}

.text-intro {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

.back-to-catalogue-links .btn {
    margin-bottom: 5px;
    float: right;
}

#before-fixed-button { 
    margin-bottom: 40px;
}

#pull-right-box {
    float: right;
}

#fixed-button {
    float: right;
    bottom: 3px;
    z-index: 5;
    position: fixed;
}