.row {
    max-height: 600px;
    max-width: 616px;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

#show_wowbook {
    width: 100%;
}

.wowbook-lightbox > .wowbook-close{
    height: 2.3em;
    width: 2.3em;
}

.wowbook-pdf .linkAnnotation > a:hover {
    opacity : 0;
}

.text-intro {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

a.btn {
    margin-bottom: 20px;
}

/*Version initiale pas beau
.back-to-catalogue-links .btn {
    margin-bottom: 5px;
    float: right;
}

#before-fixed-button { 
    margin-bottom: 40px;
}

#pull-right-box {
    float: right;
}

#fixed-button {
    float: right;
    bottom: 3px;
    z-index: 5;
    position: fixed;
}
*/