.row {
    margin-right: 0px;
    margin-left: 0px;
}

.thumbnail {
    /*max-width: 158px;*/
    min-width: 190px;
    margin: auto;
    border: 0px;
}

.thumbnail > h3, h4 {
    text-align: center;
}

.thumbnail > a {
    text-decoration: none;   
}

.thumbnail > a > h4 {
    color: black;
    text-align: center;
    margin: 0px;
    max-width: 158px;
    height: 40px;
}

.thumbnail > a > p {
    color: rgb(119, 119, 119);
    text-align: center;
    margin: 0px;
    max-width: 158px;
}

.thumbnail > a > img {
    margin: 2px;
    min-width: 100px;
    max-width: 154px;
    max-height: 150px;
}

.thumbnail:hover a > p {
    color: rgb(59, 59, 59);
}

.letter {
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
}

.letter > a {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

.letter > a:hover {
    color: rgb(59, 59, 59);
}

.artist_alphabet {
    text-align: center;
    font-family: "Arial", cursive, sans-serif;
    font-size : 20px;
    z-index: 10;
    background: white;
    margin-bottom: 30px;
    position: relative;
}

.artist_alphabet > a:hover {
    background-color: rgba(255,255,255,1);
    cursor: pointer;
}

.inactive-link {
   pointer-events: none;
   cursor: default;
}

.back_button a {
    float: right;
}

.book_vignette {
    overflow: auto;
    height: 242px;
    width: auto;
}

.artist_retrieved {
    overflow: auto;
}

.search_collection_vignette {
    height: 182px;
}

/*
.random_vignettes_small {
    display: block;
}

@media (min-width: 992px) {
    .random_vignettes_large {
        display: block;
    }

    .random_vignettes_small {
        display: none;
    }
}

@media (max-width: 480px) {
    .thumbnail > a > img {
        width: auto;
        height: auto;
    }

    .thumbnail {
        min-width: 100px;
    }
}*/