.footer {
	background-color: #FFFFFFF ; /*Couleur de fond*/
	position: fixed;
    bottom: 0;
    width: 100%;
    color : white;
    font-family: "Arial", cursive, sans-serif;
    z-index: 5;
}

.footer > form {
	float: right;
}