.top {
	background-color: #000000 ; /*Couleur de fond*/
	
}
.logo {
border:0;
min-width:100px;

}

.logo:hover {
/* curseur au dessus du logo? */
}



p {
	color : white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}