/* http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0  
donne le code ci dessous pour les couleurs de la navbar */

.page-header {
  background-color: #FFFFFF ; /*Couleur de fond*/
  color : white;
  font-family: "Arial", cursive, sans-serif;
  font-size : 120%;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
}

.navbar {
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  margin-bottom: 0px;
  height: inherit;
}

#logo {  
  width: 100px;   /*la taille du logo */ 
  height: auto;   /*la taille du logo */ 
  margin-left: 15px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.social {
	margin-top: -3px;   /* pour positionner la hauteur des logos twitter et fb */
	
}
/* Attention cette largeur dépends de la taille des textes/logos de la navbar */
/*@media (max-width:941px){ valeur sans l'onglet langue */
@media (max-width:1039px){
  .social > a {
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo {  
    margin-right: 20px;
  }

  .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* Pour les small devices, pas trop d'espace dans la liste déroulante */
@media (max-width:767px){
  .nav > li > a {
    padding: 4px;
  }
}

/* pour enlever la navbar sur 2 lignes. la valeur max-width indique à quel moment les boutons 
  disparaissent dans le menu déroulant
  
@media (max-width:942px){
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
     }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
     }
     .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    } 
}*/