.page-header {
	background-color: #000000 ; /*Couleur de fond*/
	margin-top:0;
	color : white;
    font-family: "Arial", cursive, sans-serif;
}

.logo {
	border:0;
	min-width:100px;
}

.logo:hover {
/* curseur au dessus du logo? */
}

/* http://work.smarchal.com/twbscolor/css/e74c3cc0392becf0f1ffbbbc0  
donne le code ci dessous pour les couleurs de la navbar
*/

.navbar-default {
  background-color: #55555;
  border-color: #55555;
}
.navbar-default .navbar-brand {
	 
  height: 20px;
  width: 20px;
  
}


.navbar-default {
margin-bottom: 0;
}

