/*l'allure des liens sur la page d'accueil*/
.action a:link {
    text-decoration: none;
}

.action a:visited {
    text-decoration: none;
}

.action a:hover {
    text-decoration: underline;
}

.action a:active {
    text-decoration: underline;
}
	
.action ul {
    list-style-type:none; /* item marker : none, square, circle, disc ...... */
	/* list-style-image: url('chemin/image.type');  ou item marker à partir d'un fichier */ 
}

/* css pour le diaporama */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;  
}
      
#myCarousel {
    width : 100%;
    max-width : 1170px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logging-form input {
    margin-bottom: 3px;
}

.blocks-parent {
    display: flex;
    margin-bottom: 20px;
}

.col-sm-4 {
    align-items: stretch;
}

.thumbnail {
    /*height: auto;*/
    /*height: 100%;*/
    margin: 0px;
}

/*.thumbnail btn {

}*/