/*l'allure générale des liens */
.action a:link {
    text-decoration: none;
}

.action a:visited {
    text-decoration: none;
}

.action a:hover {
    text-decoration: underline;
}

.action a:active {
    text-decoration: underline;
}
	
	
.action ul {
    list-style-type:none; /* item marker : none, square, circle, disc ...... */
	/* list-style-image: url('chemin/image.type');  ou item marker à partir d'un fichier */ 
}


.error {color :red;}

