.container-fluid {
    margin: 0px;
}

.page-content {
    max-width : 1170px;
    padding: 0px;
    margin: 0px auto;
}

.margin-wrapper {
    margin: 20px 10px;
}

.carousel {
    width : 100%;
    margin: 0px;
}

.blocks-parent {
    margin: 0px;
    display: inline-flex;
}

.blocks-parent .thumbnail {
    margin: 0px 10px 10px 10px;
}

@media (max-width: 768px) {
    .blocks-parent {
        display: block;
    }
}

/* css pour le diaporama */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}

.action a:link {
    text-decoration: none;
}

.action a:visited {
    text-decoration: none;
}

.action a:hover {
    text-decoration: underline;
}

.action a:active {
    text-decoration: underline;
}

.action ul {
    list-style-type:none; /* item marker : none, square, circle, disc ...... */
    /* list-style-image: url('chemin/image.type');  ou item marker à partir d'un fichier */
}

.thumbnail p {
    margin-bottom: 35px;
}

.thumbnail a {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 5px 4px;
}
